body {
  font-family: 'Supermercado One', cursive;
}

html{
  scroll-behavior: smooth;
}

h1, h5 {
  color: #A1B57D;
}

hr {
  border: 1px solid steelblue;

}

address {

  font-size: 1.5em;
}

iframe {
  width: 75%; 
  height: 270px;
  border: 1px solid red;
}

/* Class Selectors */


.navbar-brand {
 
  font-size: 1.3em;
}

.header-img {
  width: 100%;
  height: 400px;
  background: url('images/background.jpg');
  background-size: cover;
}

.img-thumbnail, .btn-scl {
  animation : pulse 1s infinite;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgb(144, 203, 240);
  }

  to {
    box-shadow: 0 0 0 50px rgba(144, 203, 240, 0);
  }
}

.pfs:hover {
  background-color: orangered;
}

