
#work {
  background-color: #D3CEDF;
  display: flex;
  justify-items: center;
  align-items: center;
}

footer {
  background-color: #D3CEDF;
}
/* card section */
.card  img{
    width: 17.88rem;
    height: 12rem;
    object-fit: cover;
}
/* end of card section */

/* social */

.fa-linkedin {
    color: #0077b5;
  }
  
  .fa-twitter {
    color: 	#1DA1F2;
  }
  
  .fa-instagram {
    color: #e95950;
  }
  
  .fa-github {
    color: #242329;
  }
  
  .social-icon {
    font-size: 3rem;
    transition: all .2s;
  }
  
  .social-icon {
    transition: all .2s;
  }
  
  .social-icon:hover {
    color: #34598f;
    transform: rotateZ(360deg);
  }
  
  .social-link:focus {
    outline: none;
    border: none;
  }
  
  /* end of social */

  /* additional responsiveness */

  @media (max-width:800px ){
    .social-icon{
        font-size: 1.6rem;
    }

    .about img {
        height: 12rem;
        width: auto;
    }

    
  }

  @media (max-width: 600px) {
    #work {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /* end of additional responsiveness */