
h1, h5 {
  color: #D4AC2B;
  font-family: 'Lobster Two', cursive;
}

.header-img {
  width: 100%;
  height: 400px;
  background: url('images/background.jpg');
  background-size: cover;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.img-thumbnail, .btn-scl {
  animation : pulse 1s infinite;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgb(144, 203, 240);
  }

  to {
    box-shadow: 0 0 0 50px rgba(144, 203, 240, 0);
  }
}
